.form__input {
    width: 100%;
    margin: 0px;
    padding: 10px;
    border: 1px solid #ccc;
}

.form__taskDone {
    text-decoration: line-through;
}

.form__tickButton {
    width: 100%;
    background-color: rgb(34, 138, 34);
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    padding: 10px;
    margin: 0px;
    color: #fff;
    border: none;
}

.form__removeButton {
    background-color: rgb(180, 16, 16);
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    padding: 10px;
    margin: 0px;
    color: #fff;
    border: none;
}

.form__container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 8fr 1fr;
    align-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.form__listItem {
    padding: 0px 0px;
    list-style-type: none;
    justify-self: start;
}

@media (max-width: 767px) {
    .form__listItem {
        padding: 0 30px;
    }
}

.form__remove {
    padding: 0px 0px;
    list-style-type: none;
    justify-self: end;
}

.form__add {
    padding: 0px 0px;
    justify-self: start;
}